.alphabet, 
.alphabet-icon {
  display: inline-block;
  position: relative;
  width:  0.5em;      /*  16px */
  height: 1em;      /*  16px */
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
  //contain: paint;
}
.alphabet::before, 
.alphabet::after, 
.alphabet-icon::before, 
.alphabet-icon::after {
  position: absolute;
  left:   0;
  top:    0;
  box-sizing: border-box;
}

.alphabet-A::before {
  content: '';
  left:   0;
  top:    0.25em;   /*  4px */
  width:  0.5em;    /*  8px */
  height: 0.5em;    /*  8px */
  border: 0.09375em solid currentcolor;
  border-radius: 50% 50% 0 0;
}
.alphabet-A::after {
  content: '';
  left:   0;
  top:    0.625em;  /*  10px */
  width:  0.5em;    /*  8px */
  height: 0.375em;  /*  6px */
  border: solid currentcolor;
  border-width: 0 0.09375em;
}
.alphabet-B::before {
  content: '';
  left:   0;
  top:    0.25em;   /*  4px */
  width:  0.5em;    /*  8px */
  height: 0.4375em; /*  7px */
  border: 0.09375em solid currentcolor;
  border-radius: 0 50% 50% 0;
}
.alphabet-B::after {
  content: '';
  left:   0;
  top:    0.5625em; /*  9px */
  width:  0.5em;    /*  8px */
  height: 0.4375em; /*  7px */
  border: 0.09375em solid currentcolor;
  border-radius: 0 50% 50% 0;
}
.alphabet-C::before {
  content: '';
  left:   0;
  top:    0.25em;   /*  4px */
  width:  0.625em;  /*  10px */
  height: 0.75em;   /*  12px */
  border: 0.09375em solid currentcolor;
  border-right-color: transparent;
  border-radius: 50%;
}
.alphabet-D::before {
  content: '';
  left:   0;
  top:    0.25em;   /*  4px */
  width:  0.5em;    /*  8px */
  height: 0.75em;   /*  12px */
  border: 0.09375em solid currentcolor;
  border-radius: 0 50% 50% 0;
}
.alphabet-E::before {
  content: '';
  left:   0;
  top:    0.25em;   /*  4px */
  width:  0.5em;    /*  8px */
  height: 0.75em;   /*  12px */
  border: 0.09375em solid currentcolor;
  border-right: none;
}
.alphabet-E::after {
  content: '';
  left:   0;
  top:    0.578125em;/* 9.25px */
  width:  0.4375em; /*  7px */
  height: 0.09375em;/*  1.5px */
  background: currentcolor;
}
.alphabet-F::before {
  content: '';
  left:   0;
  top:    0.25em;   /*  4px */
  width:  0.5em;    /*  8px */
  height: 0.75em;   /*  12px */
  border: solid currentcolor;
  border-width: 0.09375em 0 0 0.09375em;
}
.alphabet-F::after {
  content: '';
  left:   0;
  top:    0.578125em;/* 9.25px */
  width:  0.4375em; /*  7px */
  height: 0.09375em;/*  1.5px */
  background: currentcolor;
}
.alphabet-G::before {
  content: '';
  left:   0;
  top:    0.25em;   /*  4px */
  width:  0.625em;  /*  10px */
  height: 0.75em;   /*  12px */
  border: 0.09375em solid currentcolor;
  border-right-color: transparent;
  border-radius: 50%;
}
.alphabet-G::after {
  content: '';
  left:   0.25em;   /*  4px */
  top:    0.5625em; /*  9px */
  width:  0.25em;   /*  4px */
  height: 0.375em;  /*  6px */
  border: solid currentcolor;
  border-width: 0.09375em 0.09375em 0 0;
}
.alphabet-H::before {
  content: '';
  left:   0;
  top:    0.25em;   /*  4px */
  width:  0.5em;    /*  8px */
  height: 0.75em;   /*  12px */
  border: solid currentcolor;
  border-width: 0 0.09375em;
}
.alphabet-H::after {
  content: '';
  left:   0;
  top:    0.578125em;/* 9.25px */
  width:  0.5em;    /*  8px */
  height: 0.09375em;/*  1.5px */
  background: currentcolor;
}
.alphabet-I::before {
  content: '';
  left:   0.0625em; /*  1px */
  top:    0.25em;   /*  4px */
  width:  0.375em;  /*  6px */
  height: 0.75em;   /*  12px */
  border: solid currentcolor;
  border-width: 0.09375em 0;
}
.alphabet-I::after {
  content: '';
  left:   0.203125em;/* 3.25px */
  top:    0.25em;   /*  4px */
  width:  0.09375em;/*  1.5px */
  height: 0.75em;   /*  12px */
  background: currentcolor;
}
.alphabet-J::before {
  content: '';
  left:   0.40623em;/*  6.5px */
  top:    0.25em;   /*  4px */
  width:  0.09375em;/*  1.5px */
  height: 0.375em;  /*  6px */
  background: currentcolor;
}
.alphabet-J::after {
  content: '';
  left:   0;
  top:    0.625em;  /*  10px */
  width:  0.5em;    /*  8px */
  height: 0.375em;  /*  6px */
  border: 0.09375em solid currentcolor;
  border-top: none;
  border-radius: 0 0 50% 50%;
}
.alphabet-K {
  background:
    no-repeat linear-gradient(currentcolor, currentcolor) 0 0.25em/0.09375em 0.75em;
}
.alphabet-K::before {
  content: '';
  left:   0.1875em; /*  3px */
  top:    0.21875em;/*  3.5px */
  width:  0.09375em;/*  1.5px */
  height: 0.5625em; /*  9px */
  background: currentcolor;
  transform: rotate(35deg);
}
.alphabet-K::after {
  content: '';
  left:   0.28125em;/*  4.5px */
  top:    0.46875em;/*  7.5px */
  width:  0.09375em;/*  1.5px */
  height: 0.5625em; /*  9px */
  background: currentcolor;
  transform: rotate(-25deg);
}
.alphabet-L::before {
  content: '';
  left:   0;
  top:    0.25em;   /*  4px */
  width:  0.5em;    /*  8px */
  height: 0.75em;   /*  12px */
  border: solid currentcolor;
  border-width: 0 0 0.09375em 0.09375em;
}
.alphabet-M {
  background:
    no-repeat linear-gradient(currentcolor, currentcolor) 0 0.25em/0.09375em 0.75em,
    no-repeat linear-gradient(currentcolor, currentcolor) 0.40623em 0.25em/0.09375em 0.75em;
}
.alphabet-M::before {
  content: '';
  left:   0.09375em;/*  1.5px */
  top:    0.25em;   /*  4px */
  width:  0.09375em;/*  1.5px */
  height: 0.625em;  /*  10px */
  background: currentcolor;
  transform: rotate(-20deg);
}
.alphabet-M::after {
  content: '';
  left:   0.28125em;/*  4.5px */
  top:    0.25em;   /*  4px */
  width:  0.09375em;/*  1.5px */
  height: 0.625em;  /*  10px */
  background: currentcolor;
  transform: rotate(20deg);
}
.alphabet-N::before {
  content: '';
  left:   0;
  top:    0.25em;   /*  4px */
  width:  0.5em;    /*  8px */
  height: 0.75em;   /*  12px */
  border: solid currentcolor;
  border-width: 0 0.09375em;
}
.alphabet-N::after {
  content: '';
  left:   0.1875em; /*  3px */
  top:    0.21875em;/*  3.5px */
  width:  0.09375em;/*  1.5px */
  height: 0.8125em; /*  13px */
  background: currentcolor;
  transform: rotate(-30deg);
}
.alphabet-O::before {
  content: '';
  left:   0;
  top:    0.25em;   /*  4px */
  width:  0.5em;    /*  8px */
  height: 0.75em;   /*  12px */
  border: 0.09375em solid currentcolor;
  border-radius: 50%;
}
.alphabet-P::before {
  content: '';
  left:   0;
  top:    0.25em;   /*  4px */
  width:  0.09375em;/*  1.5px */
  height: 0.75em;   /*  12px */
  background: currentcolor;
}
.alphabet-P::after {
  content: '';
  left:   0;
  top:    0.25em;   /*  4px */
  width:  0.5em;    /*  8px */
  height: 0.4375em; /*  7px */
  border: 0.09375em solid currentcolor;
  border-radius: 0 50% 50% 0;
}
.alphabet-Q::before {
  content: '';
  left:   0;
  top:    0.25em;   /*  4px */
  width:  0.5em;    /*  8px */
  height: 0.75em;   /*  12px */
  border: 0.09375em solid currentcolor;
  border-radius: 50%;
}
.alphabet-Q::after {
  content: '';
  left:   0.3125em; /*  5px */
  top:    0.6875em; /*  11px */
  width:  0.09375em;/*  1.5px */
  height: 0.3125em; /*  5px */
  background: currentcolor;
  transform: rotate(-45deg);
}
.alphabet-R {
  background:
    no-repeat linear-gradient(currentcolor, currentcolor) 0 0.25em/0.09375em 0.75em;
}
.alphabet-R::before {
  content: '';
  left:   0;
  top:    0.25em;   /*  4px */
  width:  0.5em;    /*  8px */
  height: 0.4375em; /*  7px */
  border: 0.09375em solid currentcolor;
  border-radius: 0 50% 50% 0;
}
.alphabet-R::after {
  content: '';
  left:   0.28125em;/*  4.5px */
  top:    0.625em;  /*  10px */
  width:  0.09375em;/*  1.5px */
  height: 0.40623em;/*  6.5px */
  background: currentcolor;
  transform: rotate(-25deg);
}
.alphabet-S {
  background:
    no-repeat linear-gradient(currentcolor, currentcolor) 0.203125em 0.578125em/0.09375em 0.09375em;
    /* 3px 9px 2px 2px */
    /* 3.25px 9.25px 1.5px 1.5px */
}
.alphabet-S::before {
  content: '';
  left:   0.03125em;/*  0.5px */
  top:    0.25em;   /*  4px */
  width:  0.4375em; /*  7px */
  height: 0.4375em; /*  7px */
  border: 0.09375em solid currentcolor;
  border-right-color: transparent;
  border-radius: 50%;
  transform: rotate(60deg);
}
.alphabet-S::after {
  content: '';
  left:   0.03125em;/*  0.5px */
  top:    0.5625em; /*  9px */
  width:  0.4375em; /*  7px */
  height: 0.4375em; /*  7px */
  border: 0.09375em solid currentcolor;
  border-left-color: transparent;
  border-radius: 50%;
  transform: rotate(60deg);
}
.alphabet-T::before {
  content: '';
  left:   0;
  top:    0.25em;   /*  4px */
  width:  0.5em;    /*  8px */
  height: 0.75em;   /*  12px */
  border: solid currentcolor;
  border-width: 0.09375em 0 0;
}
.alphabet-T::after {
  content: '';
  left:   0.203125em;/* 3.25px */
  top:    0.25em;   /*  4px */
  width:  0.09375em;/*  1.5px */
  height: 0.75em;   /*  12px */
  background: currentcolor;
}
.alphabet-U::before {
  content: '';
  left:   0;
  top:    0.25em;   /*  4px */
  width:  0.5em;    /*  8px */
  height: 0.75em;   /*  12px */
  border: 0.09375em solid currentcolor;
  border-top: none;
  border-radius: 0 0 0.25em 0.25em;
}
.alphabet-V::before {
  content: '';
  left:   0.09375em;/*  1.5px */
  top:    0.25em;   /*  4px */
  width:  0.09375em;/*  1.5px */
  height: 0.75em;   /*  12px */
  background: currentcolor;
  transform: rotate(-15deg);
}
.alphabet-V::after {
  content: '';
  left:   0.28125em;/*  4.5px */
  top:    0.25em;   /*  4px */
  width:  0.09375em;/*  1.5px */
  height: 0.75em;   /*  12px */
  background: currentcolor;
  transform: rotate(15deg);
}
.alphabet-W {
  background:
    no-repeat linear-gradient(currentcolor, currentcolor) 0 0.25em/0.09375em 0.75em,
    no-repeat linear-gradient(currentcolor, currentcolor) 0.203125em 0.375em/0.09375em 0.5em,
    /*no-repeat linear-gradient(currentcolor, currentcolor) 0.203125em 0.3125em/0.09375em 0.625em,*/
    /* 3.25px 5px 1.5px 10px */
    no-repeat linear-gradient(currentcolor, currentcolor) 0.40623em 0.25em/0.09375em 0.625em;
}
.alphabet-W::before {
  content: '';
  left:   0;
  top:    0.6875em; /*  11px */
  width:  0.3125em; /*  5px */
  height: 0.3125em; /*  5px */
  border: 0.09375em solid;
  border-color: transparent currentcolor currentcolor transparent;
  border-radius: 50%;
  transform: rotate(45deg);
}
.alphabet-W::after {
  content: '';
  left:   0.1875em; /*  3px */
  top:    0.6875em; /*  11px */
  width:  0.3125em; /*  5px */
  height: 0.3125em; /*  5px */
  border: 0.09375em solid;
  border-color: transparent currentcolor currentcolor transparent;
  border-radius: 50%;
  transform: rotate(45deg);
}


.alphabet-X::before {
  content: '';
  left:   0.203125em;/* 3.25px */
  top:    0.21875em;/*  3.5px */
  width:  0.09375em;/*  1.5px */
  height: 0.8125em; /*  13px */
  background: currentcolor;
  transform: rotate(-30deg);
}
.alphabet-X::after {
  content: '';
  left:   0.203125em;/* 3.25px */
  top:    0.21875em;/*  3.5px */
  width:  0.09375em;/*  1.5px */
  height: 0.8125em; /*  13px */
  background: currentcolor;
  transform: rotate(30deg);
}
.alphabet-Y {
  background:
    no-repeat linear-gradient(currentcolor, currentcolor) 0.203125em 0.5em/0.09375em 0.5em;
}
.alphabet-Y::before {
  content: '';
  left:   0.078125em; /*  1.25px */
  top:    0.25em;   /*  4px */
  width:  0.09375em;/*  1.5px */
  height: 0.375em;  /*  6px */
  background: currentcolor;
  transform: rotate(-35deg);
}
.alphabet-Y::after {
  content: '';
  left:   0.328125em; /*  5.25px */
  top:    0.25em;   /*  4px */
  width:  0.09375em;/*  1.5px */
  height: 0.375em;  /*  6px */
  background: currentcolor;
  transform: rotate(35deg);
}
.alphabet-Z::before {
  content: '';
  left:   0;
  top:    0.25em;   /*  4px */
  width:  0.5em;    /*  8px */
  height: 0.75em;   /*  12px */
  border: solid currentcolor;
  border-width: 0.09375em 0;
}
.alphabet-Z::after {
  content: '';
  left:   0.1875em; /*  3px */
  top:    0.25em;   /*  4px */
  width:  0.09375em;/*  1.5px */
  height: 0.75em;   /*  12px */
  background: currentcolor;
  transform: rotate(35deg);
}



/**********************************************/
/* Number                                     */
/**********************************************/
.alphabet-0::before {
  content: '';
  left:   0;
  top:    0.25em;   /*  4px */
  width:  0.5em;    /*  8px */
  height: 0.75em;   /*  12px */
  border: 0.09375em solid currentcolor;
}
.alphabet-0::after {
  content: '';
  left:   0.21875em;/*  3.5px */
  top:    0.25em;   /*  4px */
  width:  0.09375em;/*  1.5px */
  height: 0.75em;   /*  12px */
  background: currentcolor;
  transform: rotate(30deg);
}
.alphabet-1 {
  //background:
    no-repeat linear-gradient(currentcolor, currentcolor) 0.1875em 0.0625em/0.125em 0.875em;
}
.alphabet-1::before {
  content: '';
  left:   0.203125em;/* 3.25px */
  top:    0.25em;   /*  4px */
  width:  0.09375em;/*  1.5px */
  height: 0.75em;   /*  12px */
  background: currentcolor;
}
.alphabet-1::after {
  content: '';
  left:   0.0625em; /*  1px */
  top:    0.25em;   /*  4px */
  width:  0.1875em; /*  3px */
  height: 0.75em;   /*  12px */
  border-top: 0.09375em solid currentcolor;
}
.alphabet-2 {
  //background:
    no-repeat linear-gradient(currentcolor, currentcolor) 0.09375em 0.578125em/0.3125em 0.09375em;
}
.alphabet-2::before {
  content: '';
  left:   0;
  top:    0.578125em;/* 9.25px */
  width:  0.5em;    /*  8px */
  height: 0.421875em;/* 6.75px */
  border: 0.09375em solid currentcolor;
  border-right: none;
}
.alphabet-2::after {
  content: '';
  left:   0;
  top:    0.25em;   /*  4px */
  width:  0.5em;    /*  8px */
  height: 0.421875em;/* 6.75px */
  border: 0.09375em solid currentcolor;
  border-left: none;
}
.alphabet-3::before {
  content: '';
  left:   0;
  top:    0.25em;   /*  4px */
  width:  0.5em;    /*  8px */
  height: 0.421875em;/* 6.75px */
  border: 0.09375em solid currentcolor;
  border-left: none;
}
.alphabet-3::after {
  content: '';
  left:   0;
  top:    0.578125em;/* 9.25px */
  width:  0.5em;    /*  8px */
  height: 0.421875em;/* 6.75px */
  border: 0.09375em solid currentcolor;
  border-left: none;
}
.alphabet-4::before {
  content: '';
  left:   0.40623em;/*  6.5px */
  top:    0.25em;   /*  4px */
  width:  0.09375em;/*  1.5px */
  height: 0.75em;   /*  12px */
  background: currentcolor;
}
.alphabet-4::after {
  content: '';
  left:   0;
  top:    0.25em;   /*  4px */
  width:  0.5em;    /*  8px */
  height: 0.421875em;/* 6.75px */
  border: 0.09375em solid currentcolor;
  border-top: none;
}
.alphabet-5::before {
  content: '';
  left:   0;
  top:    0.578125em;/* 9.25px */
  width:  0.5em;    /*  8px */
  height: 0.421875em;/* 6.75px */
  border: 0.09375em solid currentcolor;
  border-left: none;
}
.alphabet-5::after {
  content: '';
  left:   0;
  top:    0.25em;   /*  4px */
  width:  0.5em;    /*  8px */
  height: 0.421875em;/* 6.75px */
  border: 0.09375em solid currentcolor;
  border-right: none;
}
.alphabet-6::before {
  content: '';
  left:   0;
  top:    0.578125em;/* 9.25px */
  width:  0.5em;    /*  8px */
  height: 0.421875em;/* 6.75px */
  border: 0.09375em solid currentcolor;
}
.alphabet-6::after {
  content: '';
  left:   0;
  top:    0.25em;   /*  4px */
  width:  0.5em;    /*  8px */
  height: 0.421875em;/* 6.75px */
  border: 0.09375em solid currentcolor;
  border-width: 0.09375em 0 0 0.09375em;
}
.alphabet-7::before {
  content: '';
  left:   0;
  top:    0.25em;   /*  4px */
  width:  0.5em;    /*  8px */
  height: 0.09375em;/*  1.5px */
  background: currentcolor;
}
.alphabet-7::after {
  content: '';
  left:   0.203125em;/* 3.25px */
  top:    0.25em;   /*  4px */
  width:  0.09375em;/*  1.5px */
  height: 0.8125em; /*  13px */
  background: currentcolor;
  transform: rotate(30deg);
}
.alphabet-8::before {
  content: '';
  left:   0;
  top:    0.578125em;/* 9.25px */
  width:  0.5em;    /*  8px */
  height: 0.421875em;/* 6.75px */
  border: 0.09375em solid currentcolor;
}
.alphabet-8::after {
  content: '';
  left:   0;
  top:    0.25em;   /*  4px */
  width:  0.5em;    /*  8px */
  height: 0.421875em;/* 6.75px */
  border: 0.09375em solid currentcolor;
}
.alphabet-9::before {
  content: '';
  left:   0;
  top:    0.25em;   /*  4px */
  width:  0.5em;    /*  8px */
  height: 0.421875em;/* 6.75px */
  border: 0.09375em solid currentcolor;
}
.alphabet-9::after {
  content: '';
  left:   0;
  top:    0.578125em;/* 9.25px */
  width:  0.5em;    /*  8px */
  height: 0.421875em;/* 6.75px */
  border: 0.09375em solid;
  border-color: transparent currentcolor currentcolor transparent;
}



/**********************************************/
/* Number                                     */
/**********************************************/
i.alphabet-space {
  //margin: 0;
}
.alphabet-period::after {
  content: '';
  left:   0.0625em; /*  1px */
  top:    0.875em;  /*  14px */
  width:  0.125em;  /*  2px */
  height: 0.125em;  /*  2px */
  background: currentcolor;
}
.alphabet-comma::after {
  content: '';
  left:   0;
  top:    0.875em;  /*  14px */
  border: solid transparent;
  border-width: 0.25em 0.125em;
  border-top-color: currentcolor;
  border-radius: 50%;
  transform: rotate(15deg);
}
.alphabet-hyphen::after {
  content: '';
  left:   0.0625em; /*  1px */
  top:    0.5625em; /*  9px */
  width:  0.375em;  /*  6px */
  height: 0.125em;  /*  2px */
  background: currentcolor;
}
.alphabet-exclamation::before {
  content: '';
  left:   0.1875em; /*  3px */
  top:    0.25em;   /*  4px */
  width:  0.125em;  /*  2px */
  height: 0.5625em; /*  9px */
  background: currentcolor;
}
.alphabet-exclamation::after {
  content: '';
  left:   0.1875em; /*  3px */
  top:    0.875em;  /*  14px */
  width:  0.125em;  /*  2px */
  height: 0.125em;  /*  2px */
  background: currentcolor;
}
.alphabet-question {
  background:
    no-repeat linear-gradient(currentcolor, currentcolor) 0.1875em 0.5625em/0.125em 0.25em;
}
.alphabet-question::before {
  content: '';
  left:   0.03125em;/*  0.5px */
  top:    0.25em;   /*  4px */
  width:  0.4375em; /*  7px */
  height: 0.4375em; /*  7px */
  border: 0.125em solid currentcolor;
  border-left-color: transparent;
  border-radius: 50%;
  transform: rotate(-45deg);
}
.alphabet-question::after {
  content: '';
  left:   0.1875em; /*  3px */
  top:    0.875em;  /*  14px */
  width:  0.125em;  /*  2px */
  height: 0.125em;  /*  2px */
  background: currentcolor;
}
