/**************************************************************/
/* CSS Font                                                   */
/**************************************************************/
/*   System                                                   */
/*   20-2f(32-47):「 !"#$%&'()*+,-./」                        */
/*   30-3f(48-63):「0123456789:;<=>?」                        */
/*   40-4f(64-79):「@ABCDEFGHIJKLMNO」                        */
/*   50-5f(80-95):「PQRSTUVWXYZ[\]^_」                        */
/*   60-6f(96-111):「`abcdefghijklmno」                       */
/*   70-7e(112-126):「pqrstuvwxyz{|}~」                       */
/**************************************************************/



/**************************************************************/
/* System                                                     */
/**************************************************************/
.cf,
.cfb {
  display: inline-block;
  position: relative;
  width:  .5em;    /*  8px */
  height: .875em;  /*  14px(+2px) */
  margin: 0;
  padding:0;
  border: none;
  box-sizing: border-box;
  
  vertical-align: baseline;
}
.cf::before,
.cf::after,
.cfb::before,
.cfb::after {
  position: absolute;
  left:   0;
  bottom: 0;
  box-sizing: border-box;
}


/* Tofu */
.cf00,.cf01,.cf02,.cf03,.cf04,.cf05,.cf06,.cf07,.cf08,.cf09,.cf0a,.cf0b,.cf0c,.cf0d,.cf0e,.cf0f,
.cf10,.cf11,.cf12,.cf13,.cf14,.cf15,.cf16,.cf17,.cf18,.cf19,.cf1a,.cf1b,.cf1c,.cf1d,.cf1e,.cf1f,
                              .cf25,.cf26,




                                                                  .cf7b,      .cf7d,.cf7e,.cf7f
{
  width:  .375em;  /*  6px */
  height: .5em;    /*  8px */
  border: .0625em solid currentcolor; /* 1px */
  margin: .25em .0625em .125em; /* 4px 1px 2px */
}



/**************************************************************/
/* 20-2f(32-47):「 !"#$%&'()*+,-./」                          */
/**************************************************************/
/* 20(32):「 」 */
.cf20 {
  
}


/* 21(33):「!」 */
.cf21::before {
  content: '';
  left:   .203125em;/* 3.25px */
  bottom: .1875em; /*  3px */
  width:  .09375em;/*  1.5px */
  height: .625em;  /*  10px */
  background: currentcolor;
}
.cf21::after {
  content: '';
  left:   .203125em;/* 3.25px */
  bottom:-.0625em; /* -1px */
  width:  .09375em;/*  1.5px */
  height: .125em;  /*  2px */
  background: currentcolor;
}
.cfb.cf21::before {
  left:   .1875em; /*  3px */
  width:  .125em;  /*  2px */
}
.cfb.cf21::after {
  left:   .1875em; /*  3px */
  width:  .125em;  /*  2px */
}


/* 22(34):「"」 */
.cf22::before {
  content: '';
  left:   .125em;  /*  2px */
  bottom: .625em;  /*  10px */
  width:  .09375em;/*  1.5px */
  height: .1875em; /*  3px */
  background: currentcolor;
}
.cf22::after {
  content: '';
  left:   .265625em;/*  4.25px */
  bottom: .625em;  /*  10px */
  width:  .09375em;/*  1.5px */
  height: .1875em; /*  3px */
  background: currentcolor;
}
.cfb.cf22::before {
  left:   .09375em;/*  1.5px */
  width:  .125em;  /*  2px */
}
.cfb.cf22::after {
  width:  .125em;  /*  2px */
}


/* 23(35):「#」 */
.cf23 {
  background: no-repeat linear-gradient(currentcolor, currentcolor) .03125em .625em/.40623em .078125em,
              no-repeat linear-gradient(currentcolor, currentcolor) .0625em .25em/.40623em .078125em;
}
.cf23::before {
  content: '';
  left:   .109375em;/* 1.75px */
  bottom:-.0625em; /*  1px */
  width:  .078125em;/* 1.25px */
  height: .875em;  /*  14px */
  background: currentcolor;
  transform: rotate(5deg);
}
.cf23::after {
  content: '';
  left:   .296875em;/* 4.75px */
  bottom:-.0625em; /*  1px */
  width:  .078125em;/* 1.25px */
  height: .875em;  /*  14px */
  background: currentcolor;
  transform: rotate(5deg);
}
.cfb.cf23 {
  background: no-repeat linear-gradient(currentcolor, currentcolor) .03125em .625em/.40623em .09375em,
              no-repeat linear-gradient(currentcolor, currentcolor) .0625em .25em/.40623em .09375em;
}
.cfb.cf23::before {
  width:  .09375em;/*  1.5px */
}
.cfb.cf23::after {
  width:  .09375em;/*  1.5px */
}


/* 24(36):「$」 */
.cf24 {
  background: no-repeat linear-gradient(currentcolor, currentcolor) .203125em .03125em/.09375em .9375em;
}
.cf24::before {
  content: '';
  left:   .046875em;/* .75px */
  bottom: .390625em;/* 6.25px */
  width:  .40623em;/*  6.5px */
  height: .40623em;/*  6.5px */
  border: .09375em solid currentcolor;
  border-right-color: transparent;
  border-radius: 50%;
  transform: rotate(45deg);
}
.cf24::after {
  content: '';
  left:   .046875em;/* .75px */
  bottom: .078125em;/* 1.25px */
  width:  .40623em;/*  6.5px */
  height: .40623em;/*  6.5px */
  border: .09375em solid currentcolor;
  border-left-color: transparent;
  border-radius: 50%;
  transform: rotate(45deg);
}
.cfb.cf24 {
  background: no-repeat linear-gradient(currentcolor, currentcolor) .203125em .03125em/.09375em .9375em;
}
.cfb.cf24::before {
  bottom: .375em;  /*  6px */
  border-width: .125em;
}
.cfb.cf24::after {
  bottom: .09375em;/*  1.5px */
  border-width: .125em;
}


/* 25(37):「%」 */
/* 26(38):「&」 */
/* 27(39):「'」 */
.cf27::after {
  content: '';
  left:   .125em;  /*  2px */
  bottom: .625em;  /*  10px */
  width:  .09375em;/*  1.5px */
  height: .1875em; /*  3px */
  background: currentcolor;
}
.cfb.cf27::after {
  width:  .125em;  /*  2px */
}


/* 28(40):「(」 */
.cf28::after {
  content: '';
  left:   .125em;  /*  2px */
  bottom:-.25em;
  width:  1.25em;  /*  24px */
  height: 1.25em;  /*  24px */
  border: .09375em solid transparent;
  border-left-color: currentcolor;
  border-radius: 50%;
}
.cfb.cf28::after {
  border-width: .125em;
}


/* 29(41):「)」 */
.cf29::after {
  content: '';
  left:  -.875em;  /*  14px */
  bottom:-.25em;
  width:  1.25em;  /*  24px */
  height: 1.25em;  /*  24px */
  border: .09375em solid transparent;
  border-right-color: currentcolor;
  border-radius: 50%;
}
.cfb.cf29::after {
  border-width: .125em;
}


/* 2a(42):「*」 */
.cf2a {
  background: no-repeat linear-gradient(currentcolor, currentcolor) .203125em .25em/.078125em .5em;
}
.cf2a::before {
  content: '';
  left:   .203125em;/* 3.25px */
  bottom: .125em;  /*  2px */
  width:  .078125em;/* 1.25px */
  height: .5em;    /*  8px */
  background: currentcolor;
  transform: rotate(45deg);
}
.cf2a::after {
  content: '';
  left:   .203125em;/* 3.25px */
  bottom: .125em;  /*  2px */
  width:  .078125em;/* 1.25px */
  height: .5em;    /*  8px */
  background: currentcolor;
  transform: rotate(-45deg);
}
.cfb.cf2a {
  background: no-repeat linear-gradient(currentcolor, currentcolor) .203125em .25em/.09375em .5em;
}
.cfb.cf2a::before {
  left:   .203125em;/* 3.25px */
  width:  .09375em;/*  1.5px */
}
.cfb.cf2a::after {
  left:   .203125em;/* 3.25px */
  width:  .09375em;/*  1.5px */
}


/* 2b(43):「+」 */
.cf2b::before {
  content: '';
  left:   .0625em; /*  1px */
  bottom: .328125em;/* 5.25px */
  width:  .375em;  /*  6px */
  height: .09375em;/*  1.5px */
  background: currentcolor;
}
.cf2b::after {
  content: '';
  left:   .203125em;/* 3.25px */
  bottom: .125em;  /*  2px */
  width:  .09375em;/*  1.5px */
  height: .5em;    /*  8px */
  background: currentcolor;
}
.cfb.cf2b::before {
  bottom: .3125em; /*  5px */
  height: .125em;  /*  2px */
}
.cfb.cf2b::after {
  left:   .1875em; /*  3px */
  width:  .125em;  /*  2px */
}

/* 2c(44):「,」 */
.cf2c::after {
  content: '';
  left:  -.0625em; /*  1px */
  bottom:-.3125em; /*  5px */
  border: solid transparent;
  border-width: .25em .125em;
  border-top-color: currentcolor;
  border-radius: 50%;
  transform: rotate(25deg);
}
.cfb.cf2c::after {
  bottom:-.375em;  /*  6px */
  border-width: .28125em .15625em;
}


/* 2d(45):「-」 */
.cf2d::after {
  content: '';
  left:   .0625em; /*  1px */
  bottom: .328125em;/* 5.25px */
  width:  .375em;  /*  6px */
  height: .09375em;/*  1.5px */
  background: currentcolor;
}
.cfb.cf2d::after {
  bottom: .3125em; /*  5px */
  height: .125em;  /*  2px */
}


/* 2e(46):「.」 */
.cf2e::after {
  content: '';
  left:   .0625em; /*  1px */
  bottom: 0;
  width:  .125em;  /*  2px */
  height: .125em;  /*  2px */
  background: currentcolor;
}
.cfb.cf2e::after {
  bottom:-.03125em;/*  .5px */
  width:  .15625em;/*  2.5px */
  height: .15625em;/*  2.5px */
}


/* 2f(47):「/」 */
.cf2f::after {
  content: '';
  left:   .203125em;/* 3.25px */
  bottom:-.09375em;/*  1.5px */
  width:  .09375em;/*  1.5px */
  height: .9375em; /*  15px */
  background: currentcolor;
  transform: rotate(25deg);
}
.cfb.cf2f::after {
  left:   .1875em; /*  3px */
  width:  .125em;  /*  2px */
}



/**************************************************************/
/* 30-3f(48-63):「0123456789:;<=>?」                          */
/**************************************************************/
/* 30(48):「0」 */
.cf30::before {
  content: '';
  left:   .0625em; /*  1px */
/*bottom: 0;*/
  width:  .375em;  /*  6px */
  height: .75em;   /*  12px */
  border: .09375em solid currentcolor;
  border-radius: .125em;
}
.cf30::after {
  content: '';
  left:   .203125em;/* 3.25px */
  bottom: .09375em;/*  1.5px */
  width:  .09375em;/*  1.5px */
  height: .5625em; /*  9px */
  background: currentcolor;
  transform: rotate(30deg);
}
.cfb.cf30::before  {
  border-width: .125em;
}
.cfb.cf30::after  {
  //width:  .125em;  /*  2px */
}


/* 31(49):「1」 */
.cf31::after {
  content: '';
  left:   .046875em;/* .75px */
/*bottom: 0;*/
  width:  .25em;   /*  4px */
  height: .75em;   /*  12px */
  border: solid currentcolor;
  border-width: .09375em .09375em 0 0;
  border-radius: 0 .125em 0 0;
}
.cfb.cf31::after  {
  left:   .0625em; /*  1px */
  border-width: .125em .125em 0 0;
}


/* 32(50):「2」 */
.cf32 {
  //background: no-repeat linear-gradient(currentcolor, currentcolor) .0625em .125em/.25em .09375em,
              no-repeat linear-gradient(currentcolor, currentcolor) .1875em .78125em/.25em .09375em;
  background: no-repeat linear-gradient(currentcolor, currentcolor) .1875em .78125em/.25em .09375em;
}
.cf32::before {
  content: '';
  left:   .0625em; /*  1px */
  bottom: .34375em;/*  5.5px */
  width:  .375em;  /*  6px */
  height: .40623em;/*  6.5px */
  border: .09375em solid currentcolor;
  border-left-color: transparent;
  border-radius: .125em .125em .125em 0;
}
.cf32::after {
  content: '';
  left:   .0625em; /*  1px */
/*bottom: 0;*/
  width:  .25em;   /*  4px */
  height: .4375em; /*  7px */
  border: .09375em solid currentcolor;
  border-right: none;
  border-radius: .125em 0 0 .125em;
}
.cfb.cf32 {
  //background: no-repeat linear-gradient(currentcolor, currentcolor) .0625em .125em/.25em .125em,
              no-repeat linear-gradient(currentcolor, currentcolor) .1875em .75em/.25em .125em;
  background: no-repeat linear-gradient(currentcolor, currentcolor) .1875em .75em/.25em .125em;
}
.cfb.cf32::before  {
  bottom: .3125em; /*  5px */
  height: .4375em; /*  7px */
  border-width: .125em;
}
.cfb.cf32::after  {
  border-width: .125em;
}


/* 33(51):「3」 */
.cf33::before {
  content: '';
  left:   .0625em; /*  1px */
/*bottom: 0;*/
  width:  .375em;  /*  6px */
  height: .75em;   /*  12px */
  border: .09375em solid currentcolor;
  border-left: none;
  border-radius: 0 .125em .125em 0;
}
.cf33::after {
  content: '';
  left:   .09375em;/*  1.5px */
  bottom: .328125em;/* 5.25px */
  width:  .34375em;/*  5.5px */
  height: .09375em;/*  1.5px */
  background: currentcolor;
}
.cfb.cf33::before  {
  border-width: .125em;
}
.cfb.cf33::after  {
  bottom: .3125em; /*  5px */
  height: .125em;  /*  2px */
}


/* 34(52):「4」 */
.cf34::before {
  content: '';
  left:   .34375em;/*  5.5px */
/*bottom: 0;*/
  width:  .09375em;/*  1.5px */
  height: .75em;   /*  12px */
  background: currentcolor;
}
.cf34::after {
  content: '';
  left:   .0625em; /*  1px */
  bottom: .3125em; /*  5px */
  width:  .375em;  /*  6px */
  height: .4375em; /*  7px */
  border: .09375em solid currentcolor;
  border-top: none;
  border-radius: 0 0 0 .125em;
}
.cfb.cf34::before  {
  left:   .3125em; /*  5px */
  width:  .125em;  /*  2px */
}
.cfb.cf34::after  {
  border-width: .125em;
}


/* 35(53):「5」 */
.cf35 {
  background: no-repeat linear-gradient(currentcolor, currentcolor) .0625em .78125em/.25em .09375em;
}
.cf35::before {
  content: '';
  left:   .0625em; /*  1px */
  bottom: .34375em;/*  5.5px */
  width:  .375em;  /*  6px */
  height: .40623em;/*  6.5px */
  border: .09375em solid currentcolor;
  border-right-color: transparent;
  border-radius: .125em .125em 0 .125em;
}
.cf35::after {
  content: '';
  left:   .1875em; /*  3px */
/*bottom: 0;*/
  width:  .25em;   /*  4px */
  height: .4375em; /*  7px */
  border: .09375em solid currentcolor;
  border-left: none;
  border-radius: 0 .125em .125em 0;
}
.cfb.cf35 {
  background: no-repeat linear-gradient(currentcolor, currentcolor) .0625em .75em/.25em .125em;
}
.cfb.cf35::before  {
  bottom: .3125em; /*  5px */
  height: .4375em; /*  7px */
  border-width: .125em;
}
.cfb.cf35::after  {
  border-width: .125em;
}


/* 36(54):「6」 */
.cf36::before {
  content: '';
  left:   .0625em; /*  1px */
/*bottom: 0;*/
  width:  .375em;  /*  6px */
  height: .4375em; /*  7px */
  border: .09375em solid currentcolor;
  border-radius: 0 .125em .125em .125em;
}
.cf36::after {
  content: '';
  left:   .0625em; /*  1px */
  bottom: .3125em; /*  5px */
  width:  .375em;  /*  6px */
  height: .4375em; /*  7px */
  border: .09375em solid currentcolor;
  border-right-color: transparent;
  border-radius: .125em;
}
.cfb.cf36::before  {
  border-width: .125em;
}
.cfb.cf36::after  {
  border-width: .125em;
}


/* 37(55):「7」 */
.cf37::before {
  content: '';
  left:   .0625em; /*  1px */
  bottom: .640625em;/* 10.25px */
  width:  .375em;  /*  6px */
  height: .09375em;/*  1.5px */
  background: currentcolor;
}
.cf37::after {
  content: '';
  left:   .25em;   /*  4px */
  bottom: 0;
  width:  .09375em;/*  1.5px */
  height: .75em;   /*  12px */
  background: currentcolor;
  transform: rotate(15deg);
}
.cfb.cf37::before  {
  bottom: .625em;  /*  10px */
  height: .125em;  /*  2px */
}
.cfb.cf37::after  {
  width:  .125em;  /*  2px */
}


/* 38(56):「8」 */
.cf38::before {
  content: '';
  left:   .0625em; /*  1px */
/*bottom: 0;*/
  width:  .375em;  /*  6px */
  height: .4375em; /*  7px */
  border: .09375em solid currentcolor;
  border-radius: .125em;
}
.cf38::after {
  content: '';
  left:   .0625em; /*  1px */
  bottom: .3125em; /*  5px */
  width:  .375em;  /*  6px */
  height: .4375em; /*  7px */
  border: .09375em solid currentcolor;
  border-radius: .125em;
}
.cfb.cf38::before  {
  border-width: .125em;
}
.cfb.cf38::after  {
  border-width: .125em;
}


/* 39(57):「9」 */
.cf39::before {
  content: '';
  left:   .0625em; /*  1px */
  bottom: .3125em; /*  5px */
  width:  .375em;  /*  6px */
  height: .4375em; /*  7px */
  border: .09375em solid currentcolor;
  border-radius: .125em .125em 0 .125em;
}
.cf39::after {
  content: '';
  left:   .0625em; /*  1px */
/*bottom: 0;*/
  width:  .375em;  /*  6px */
  height: .4375em; /*  7px */
  border: .09375em solid currentcolor;
  border-left-color: transparent;
  border-radius: .125em;
}
.cfb.cf39::before  {
  border-width: .125em;
}
.cfb.cf39::after  {
  border-width: .125em;
}


/* 3a(58):「:」 */
.cf3a::before {
  content: '';
  left:   .1875em; /*  3px */
  bottom: .5em;    /*  8px */
  width:  .125em;  /*  2px */
  height: .125em;  /*  2px */
  background: currentcolor;
}
.cf3a::after {
  content: '';
  left:   .1875em; /*  3px */
  bottom: .125em;  /*  2px */
  width:  .125em;  /*  2px */
  height: .125em;  /*  2px */
  background: currentcolor;
}
.cfb.cf3a::before  {
  left:   .171875em;/* 2.75px */
  width:  .15625em;/*  2.5px */
  height: .15625em;/*  2.5px */
}
.cfb.cf3a::after  {
  left:   .171875em;/* 2.75px */
  width:  .15625em;/*  2.5px */
  height: .15625em;/*  2.5px */
}


/* 3b(59):「;」 */
.cf3b::before {
  content: '';
  left:   .1875em; /*  3px */
  bottom: .5em;    /*  8px */
  width:  .125em;  /*  2px */
  height: .125em;  /*  2px */
  background: currentcolor;
}
.cf3b::after {
  content: '';
  left:   .03125em;/*  .5px */
  bottom:-.25em;   /*  4px */
  border: solid transparent;
  border-width: .25em .125em;
  border-top-color: currentcolor;
  border-radius: 50%;
  transform: rotate(25deg);
}
.cfb.cf3b::before  {
  left:   .171875em;/* 2.75px */
  width:  .15625em;/*  2.5px */
  height: .15625em;/*  2.5px */
}
.cfb.cf3b::after  {
  bottom:-.3125em; /*  5px */
  border-width: .28125em .15625em;
}


/* 3c(60):「<」 */
.cf3c::before {
  content: '';
  left:   0;
  bottom: .453125em;/* 7.25px */
  width:  .5em;    /*  8px */
  height: .09375em;/*  1.5px */
  background: currentcolor;
  transform: rotate(-35deg);
}
.cf3c::after {
  content: '';
  left:   0;
  bottom: .203125em;/* 3.25px */
  width:  .5em;    /*  8px */
  height: .09375em;/*  1.5px */
  background: currentcolor;
  transform: rotate(35deg);
}
.cfb.cf3c::before {
  bottom: .421875em;/* 6.75px */
  height: .125em;  /*  2px */
}
.cfb.cf3c::after {
  bottom: .203125em;/* 3.25px */
  height: .125em;  /*  2px */
}


/* 3d(61):「=」 */
.cf3d::after {
  content: '';
  left:   .0625em; /*  1px */
  bottom: .1875em; /*  3px */
  width:  .375em;  /*  6px */
  height: .375em;  /*  6px */
  border: solid currentcolor;
  border-width: .09375em 0;
}
.cfb.cf3d::after {
  border-width: .125em 0;
}

/* 3e(62):「>」 */
.cf3e::before {
  content: '';
  left:   0;
  bottom: .453125em;/* 7.25px */
  width:  .5em;    /*  8px */
  height: .09375em;/*  1.5px */
  background: currentcolor;
  transform: rotate(35deg);
}
.cf3e::after {
  content: '';
  left:   0;
  bottom: .203125em;/* 3.25px */
  width:  .5em;    /*  8px */
  height: .09375em;/*  1.5px */
  background: currentcolor;
  transform: rotate(-35deg);
}
.cfb.cf3e::before {
  bottom: .421875em;/* 6.75px */
  height: .125em;  /*  2px */
}
.cfb.cf3e::after {
  bottom: .203125em;/* 3.25px */
  height: .125em;  /*  2px */
}


/* 3f(63):「?」 */
.cf3f {
  background: no-repeat linear-gradient(currentcolor, currentcolor) .203125em .453125em/.09375em .25em;
}
.cf3f::before {
  content: '';
  left:   .03125em;/*  .5px */
  bottom: .3125em; /*  5px */
  width:  .4375em; /*  7px */
  height: .4375em; /*  7px */
  border: .09375em solid currentcolor;
  border-left-color: transparent;
  border-radius: 50%;
  transform: rotate(-45deg);
}
.cf3f::after {
  content: '';
  left:   .203125em;/* 3.25px */
/*bottom: 0;*/
  width:  .09375em;/*  1.5px */
  height: .09375em;/*  1.5px */
  background: currentcolor;
}
.cfb.cf3f {
  background: no-repeat linear-gradient(currentcolor, currentcolor) .1875em .4375em/.125em .25em;
}
.cfb.cf3f::before {
  border-width: .125em;
}
.cfb.cf3f::after {
  left:   .1875em; /*  3px */
  width:  .125em;  /*  2px */
  height: .125em;  /*  2px */
}



/**************************************************************/
/* 40-4f(64-79):「@ABCDEFGHIJKLMNO」                          */
/**************************************************************/
/* 40(64):「@」 */
.cf40 {
  width:  .46875em;/*  7.5px */
  height: .8125em; /*  13px */
  margin: .0625em .015625em 0;
  
  border: .078125em solid currentcolor;
  border-right: none;
  border-radius: 50%;
}
.cf40::before {
  content: '';
  left:   0;
  bottom: .09375em;/*  1.5px */
  width:  .375em;  /*  6px */
  height: .46875em;/*  7.5px */
  border: .078125em solid currentcolor;
  border-left-color: transparent;
  border-bottom: none;
  border-radius: .25em .25em 0 0;
}
.cf40::after {
  content: '';
  left:   .03125em;/*  .5px */
  bottom: .09375em;/*  1.5px */
  width:  .3125em; /*  5px */
  height: .3125em; /*  5px */
  border: .078125em solid currentcolor;
  border-radius: 50%;
}
.cfb.cf40 {
  border-width: .09375em;
}
.cfb.cf40::before {
  border-width: .09375em;
}
.cfb.cf40::after {
  border-width: .09375em;
}


/* 41(65):「A」 */
.cf41::before {
  content: '';
  left:   .0625em; /*  1px */
  bottom: .25em;   /*  4px */
  width:  .375em;  /*  6px */
  height: .5em;    /*  8px */
  border: .09375em solid currentcolor;
  border-radius: .1875em .1875em 0 0;
}
.cf41::after {
  content: '';
  left:   .0625em; /*  1px */
/*bottom: 0;*/
  width:  .375em;  /*  6px */
  height: .375em;  /*  6px */
  border: solid currentcolor;
  border-width: 0 .09375em;
}
.cfb.cf41::before {
  border-width: .125em;
}
.cfb.cf41::after {
  border-width: 0 .125em;
}


/* 42(66):「B」 */
.cf42::before {
  content: '';
  left:   .0625em; /*  1px */
  bottom: .3125em; /*  5px */
  width:  .375em;  /*  6px */
  height: .4375em; /*  7px */
  border: .09375em solid currentcolor;
  border-radius: 0 50% 50% 0;
}
.cf42::after {
  content: '';
  left:   .0625em; /*  1px */
/*bottom: 0;*/
  width:  .375em;  /*  6px */
  height: .4375em; /*  7px */
  border: .09375em solid currentcolor;
  border-radius: 0 50% 50% 0;
}
.cfb.cf42::before {
  border-width: .125em;
}
.cfb.cf42::after {
  border-width: .125em;
}


/* 43(67):「C」 */
.cf43::after {
  content: '';
  left:   .0625em; /*  1px */
/*bottom: 0;*/
  width:  .5em;    /*  8px */
  height: .75em;   /*  12px */
  border: .09375em solid currentcolor;
  border-right-color: transparent;
  border-radius: 50%;
}
.cfb.cf43::after {
  border-width: .125em;
}


/* 44(68):「D」 */
.cf44::after {
  content: '';
  left:   .0625em; /*  1px */
/*bottom: 0;*/
  width:  .375em;  /*  6px */
  height: .75em;   /*  12px */
  border: .09375em solid currentcolor;
  border-radius: 0 50% 50% 0;
}
.cfb.cf44::after {
  border-width: .125em;
}


/* 45(69):「E」 */
.cf45::before {
  content: '';
  left:   .0625em; /*  1px */
/*bottom: 0;*/
  width:  .375em;  /*  6px */
  height: .75em;   /*  12px */
  border: .09375em solid currentcolor;
  border-right: none;
}
.cf45::after {
  content: '';
  left:   .0625em; /*  1px */
  bottom: .328125em;/* 5.25px */
  width:  .3125em; /*  5px */
  height: .09375em;/*  1.5px */
  background: currentcolor;
}
.cfb.cf45::before {
  border-width: .125em;
}
.cfb.cf45::after {
  bottom: .3125em; /*  5px */
  height: .125em;  /*  2px */
}


/* 46(70):「F」 */
.cf46::before {
  content: '';
  left:   .0625em; /*  1px */
/*bottom: 0;*/
  width:  .375em;  /*  6px */
  height: .75em;   /*  12px */
  border: solid currentcolor;
  border-width: .09375em 0 0 .09375em;
}
.cf46::after {
  content: '';
  left:   .0625em; /*  1px */
  bottom: .328125em;/* 5.25px */
  width:  .3125em; /*  5px */
  height: .09375em;/*  1.5px */
  background: currentcolor;
}
.cfb.cf46::before {
  border-width: .125em 0 0 .125em;
}
.cfb.cf46::after {
  bottom: .3125em; /*  5px */
  height: .125em;  /*  2px */
}


/* 47(71):「G」 */
.cf47::before {
  content: '';
  left:   .0625em; /*  1px */
/*bottom: 0;*/
  width:  .5em;    /*  8px */
  height: .75em;   /*  12px */
  border: .09375em solid currentcolor;
  border-right-color: transparent;
  border-radius: 50%;
}
.cf47::after {
  content: '';
  left:   .28125em;/*  4.5px */
  bottom: .0625em; /*  1px */
  width:  .1875em; /*  3px */
  height: .3125em; /*  5px */
  border: solid currentcolor;
  border-width: .09375em .09375em 0 0;
}
.cfb.cf47::before {
  border-width: .125em;
}
.cfb.cf47::after {
  border-width: .125em .125em 0 0;
}


/* 48(72):「H」 */
.cf48::before {
  content: '';
  left:   .0625em; /*  1px */
/*bottom: 0;*/
  width:  .375em;  /*  6px */
  height: .75em;   /*  12px */
  border: solid currentcolor;
  border-width: 0 .09375em;
}
.cf48::after {
  content: '';
  left:   .0625em; /*  1px */
  bottom: .328125em;/* 5.25px */
  width:  .375em;  /*  6px */
  height: .09375em;/*  1.5px */
  background: currentcolor;
}
.cfb.cf48::before {
  border-width: 0 .125em;
}
.cfb.cf48::after {
  bottom: .3125em; /*  5px */
  height: .125em;  /*  2px */
}


/* 49(73):「I」 */
.cf49::before {
  content: '';
  left:   .0625em; /*  1px */
/*bottom: 0;*/
  width:  .375em;  /*  6px */
  height: .75em;   /*  12px */
  border: solid currentcolor;
  border-width: .09375em 0;
}
.cf49::after {
  content: '';
  left:   .203125em;/* 3.25px */
/*bottom: 0;*/
  width:  .09375em;/*  1.5px */
  height: .75em;   /*  12px */
  background: currentcolor;
}
.cfb.cf49::before {
  border-width: .125em 0;
}
.cfb.cf49::after {
  left:   .1875em; /*  3px */
  width:  .125em;  /*  2px */
}


/* 4a(74):「J」 */
.cf4a::before {
  content: '';
  left:   .34375em;/*  5.5px */
  bottom: .125em;  /*  2px */
  width:  .09375em;/*  1.5px */
  height: .625em;  /*  10px */
  background: currentcolor;
}
.cf4a::after {
  content: '';
  left:   .0625em; /*  1px */
/*bottom: 0;*/
  width:  .375em;  /*  6px */
  height: .375em;  /*  6px */
  border: .09375em solid;
  border-color: transparent currentcolor currentcolor transparent;
  border-radius: 50%;
  transform: rotate(45deg);
}
.cfb.cf4a::before {
  left:   .3125em; /*  5px */
  width:  .125em;  /*  2px */
}
.cfb.cf4a::after {
  border-width: .125em;
}


/* 4b(75):「K」 */
.cf4b {
  background: no-repeat linear-gradient(currentcolor, currentcolor) .0625em .125em/.09375em .75em;
}
.cf4b::before {
  content: '';
  left:   .1875em; /*  3px */
  bottom: .21875em;/*  3.5px */
  width:  .09375em;/*  1.5px */
  height: .5625em; /*  9px */
  background: currentcolor;
  transform: rotate(25deg);
}
.cf4b::after {
  content: '';
  left:   .25em;   /*  4px */
  bottom:-.03125em;/* -.5px */;
  width:  .09375em;/*  1.5px */
  height: .5em;    /*  8px */
  background: currentcolor;
  transform: rotate(-25deg);
}
.cfb.cf4b {
  background: no-repeat linear-gradient(currentcolor, currentcolor) .0625em .125em/.125em .75em;
}
.cfb.cf4b::before {
  width:  .125em;  /*  2px */
}
.cfb.cf4b::after {
  width:  .125em;  /*  2px */
}


/* 4c(76):「L」 */
.cf4c::after {
  content: '';
  left:   .0625em; /*  1px */
/*bottom: 0;*/
  width:  .375em;  /*  6px */
  height: .75em;   /*  12px */
  border: solid currentcolor;
  border-width: 0 0 .09375em .09375em;
}
.cfb.cf4c::after {
  border-width: 0 0 .125em .125em;
}


/* 4d(77):「M」 */
.cf4d {
  background: no-repeat linear-gradient(currentcolor, currentcolor) .03125em .125em/.09375em .75em,
              no-repeat linear-gradient(currentcolor, currentcolor) .375em .125em/.09375em .75em;
}
.cf4d::before {
  content: '';
  left:   .125em;  /*  2px */
  bottom: .125em;  /*  2px */
  width:  .09375em;/*  1.5px */
  height: .625em;  /*  10px */
  background: currentcolor;
  transform: rotate(-15deg);
}
.cf4d::after {
  content: '';
  left:   .28125em;/*  4.5px */
  bottom: .125em;  /*  2px */
  width:  .09375em;/*  1.5px */
  height: .625em;  /*  10px */
  background: currentcolor;
  transform: rotate(15deg);
}
.cfb.cf4d {
  background: no-repeat linear-gradient(currentcolor, currentcolor) .03125em .125em/.125em .75em,
              no-repeat linear-gradient(currentcolor, currentcolor) .34375em .125em/.125em .75em;
}
.cfb.cf4d::before {
  left:   .125em;  /*  2px */
  width:  .125em;  /*  2px */
}
.cfb.cf4d::after {
  left:   .25em;   /*  4px */
  width:  .125em;  /*  2px */
}


/* 4e(78):「N」 */
.cf4e::before {
  content: '';
  left:   .0625em; /*  1px */
/*bottom: 0;*/
  width:  .375em;  /*  6px */
  height: .75em;   /*  12px */
  border: solid currentcolor;
  border-width: 0 .09375em;
}
.cf4e::after {
  content: '';
  left:   .1875em; /*  3px */
  bottom: 0;
  width:  .09375em;/*  1.5px */
  height: .75em;   /*  12px */
  background: currentcolor;
  transform: rotate(-20deg);
}
.cfb.cf4e::before {
  border-width: 0 .125em;
}
.cfb.cf4e::after {
  width:  .125em;  /*  2px */
}


/* 4f(79):「O」 */
.cf4f::after {
  content: '';
  left:   .03125em;/*  .5px */
/*bottom: 0;*/
  width:  .4375em; /*  7px */
  height: .75em;   /*  12px */
  border: .09375em solid currentcolor;
  border-radius: 50%;
}
.cfb.cf4f::after {
  border-width: .125em;
}



/**************************************************************/
/* 50-5f(80-95):「PQRSTUVWXYZ[\]^_」                          */
/**************************************************************/
/* 50(80):「P」 */
.cf50::before {
  content: '';
  left:   .0625em; /*  1px */
/*bottom: 0;*/
  width:  .09375em;/*  1.5px */
  height: .75em;   /*  12px */
  background: currentcolor;
}
.cf50::after {
  content: '';
  left:   .0625em; /*  1px */
  bottom: .3125em; /*  5px */
  width:  .375em;  /*  6px */
  height: .4375em; /*  7px */
  border: .09375em solid currentcolor;
  border-radius: 0 .21875em .21875em 0;
}
.cfb.cf50::before {
  width:  .125em;  /*  2px */
}
.cfb.cf50::after {
  border-width: .125em;
}


/* 51(81):「Q」 */
.cf51::before {
  content: '';
  left:   .03125em;/*  .5px */
/*bottom: 0;*/
  width:  .4375em; /*  7px */
  height: .75em;   /*  12px */
  border: .09375em solid currentcolor;
  border-radius: 50%;
}
.cf51::after {
  content: '';
  left:   .28125em;/*  4.5px */
/*bottom: 0;*/
  width:  .09375em;/*  1.5px */
  height: .3125em; /*  5px */
  background: currentcolor;
  transform: rotate(-45deg);
}
.cfb.cf51::before {
  border-width: .125em;
}
.cfb.cf51::after {
  width:  .125em;  /*  2px */
}


/* 52(82):「R」 */
.cf52 {
  background: no-repeat linear-gradient(currentcolor, currentcolor) .0625em .125em/.09375em .75em;
}
.cf52::before {
  content: '';
  left:   .0625em; /*  1px */
  bottom: .3125em; /*  5px */
  width:  .375em;  /*  6px */
  height: .4375em; /*  7px */
  border: .09375em solid currentcolor;
  border-radius: 0 .21875em .21875em 0;
}
.cf52::after {
  content: '';
  left:   .25em;   /*  4px */
/*bottom: 0;*/
  width:  .09375em;/*  1.5px */
  height: .390625em;/* 6.25px */
  background: currentcolor;
  transform: rotate(-25deg);
}
.cfb.cf52 {
  background: no-repeat linear-gradient(currentcolor, currentcolor) .0625em .125em/.125em .75em;
}
.cfb.cf52::before {
  border-width: .125em;
}
.cfb.cf52::after {
  width:  .125em;  /*  2px */
  height: .375em;  /*  6px */
}


/* 53(83):「S」 */
.cf53::before {
  content: '';
  left:   .03125em;/*  .5px */
  bottom: .328125em;/* 5.25px */
  width:  .4375em; /*  7px */
  height: .4375em; /*  7px */
  border: .09375em solid currentcolor;
  border-right-color: transparent;
  border-radius: 50%;
  transform: rotate(45deg);
}
.cf53::after {
  content: '';
  left:   .03125em;/*  .5px */
  bottom:-.015625em;/* .25px */
  width:  .4375em; /*  7px */
  height: .4375em; /*  7px */
  border: .09375em solid currentcolor;
  border-left-color: transparent;
  border-radius: 50%;
  transform: rotate(45deg);
}
.cfb.cf53::before {
  bottom: .3125em; /*  5px */
  border-width: .125em;
}
.cfb.cf53::after {
  bottom: 0;
  border-width: .125em;
}


/* 54(84):「T」 */
.cf54::before {
  content: '';
  left:   .03125em;/*  .5px */
/*bottom: 0;*/
  width:  .4375em; /*  7px */
  height: .75em;   /*  12px */
  border: solid currentcolor;
  border-width: .09375em 0 0;
}
.cf54::after {
  content: '';
  left:   .203125em;/* 3.25px */
/*bottom: 0;*/
  width:  .09375em;/*  1.5px */
  height: .75em;   /*  12px */
  background: currentcolor;
}
.cfb.cf54::before {
  border-width: .125em 0 0;
}
.cfb.cf54::after {
  left:   .1875em; /*  3px */
  width:  .125em;  /*  2px */
}


/* 55(85):「U」 */
.cf55::after {
  content: '';
  left:   .0625em; /*  1px */
/*bottom: 0;*/
  width:  .375em;  /*  6px */
  height: .75em;   /*  12px */
  border: .09375em solid currentcolor;
  border-top: none;
  border-radius: 0 0 .1875em .1875em;
}
.cfb.cf55::after {
  border-width: .125em;
}


/* 56(86):「V」 */
.cf56::before {
  content: '';
  left:   .125em;  /*  2px */
/*bottom: 0;*/
  width:  .09375em;/*  1.5px */
  height: .75em;   /*  12px */
  background: currentcolor;
  transform: rotate(-10deg);
}
.cf56::after {
  content: '';
  left:   .28125em;/*  4.5px */
/*bottom: 0;*/
  width:  .09375em;/*  1.5px */
  height: .75em;   /*  12px */
  background: currentcolor;
  transform: rotate(10deg);
}
.cfb.cf56::before {
  left:   .09375em;/*  1.5px */
  width:  .125em;  /*  2px */
}
.cfb.cf56::after {
  left:   .28125em;/*  4.5px */
  width:  .125em;  /*  2px */
}


/* 57(87):「W」 */
.cf57 {
  background: no-repeat linear-gradient(currentcolor, currentcolor) .03125em .125em/.09375em .75em,
              no-repeat linear-gradient(currentcolor, currentcolor) .203125em .25em/.09375em .5em,
              no-repeat linear-gradient(currentcolor, currentcolor) .375em .125em/.09375em .5em;
}
.cf57::before {
  content: '';
  left:   .03125em;/*  .5px */
/*bottom: 0;*/
  width:  .265625em;/* 4.25px */
  height: .3125em; /*  5px */
  border: .09375em solid currentcolor;
  border-top: none;
  border-radius: 0 0 50% 50%;
}
.cf57::after {
  content: '';
  left:   .203125em;/* 3.25px */
/*bottom: 0;*/
  width:  .265625em;/* 4.25px */
  height: .3125em; /*  5px */
  border: .09375em solid currentcolor;
  border-top: none;
  border-radius: 0 0 50% 50%;
}
.cfb.cf57 {
  background: no-repeat linear-gradient(currentcolor, currentcolor) .03125em .125em/.125em .75em,
              no-repeat linear-gradient(currentcolor, currentcolor) .1875em .25em/.125em .5em,
              no-repeat linear-gradient(currentcolor, currentcolor) .34375em .125em/.125em .5em;
}
.cfb.cf57::before {
  width:  .28125em;/*  4.5px */
  border-width: .125em;
}
.cfb.cf57::after {
  left:   .1875em; /*  3px */
  width:  .28125em;/*  4.5px */
  border-width: .125em;
}


/* 58(88):「X」 */
.cf58::before {
  content: '';
  left:   .203125em;/* 3.25px */
  bottom:-.03125em;/* -.5px */;
  width:  .09375em;/*  1.5px */
  height: .8125em; /*  13px */
  background: currentcolor;
  transform: rotate(-25deg);
}
.cf58::after {
  content: '';
  left:   .203125em;/* 3.25px */
  bottom:-.03125em;/* -.5px */;
  width:  .09375em;/*  1.5px */
  height: .8125em; /*  13px */
  background: currentcolor;
  transform: rotate(25deg);
}
.cfb.cf58::before {
  left:   .1875em; /*  3px */
  width:  .125em;  /*  2px */
}
.cfb.cf58::after {
  left:   .1875em; /*  3px */
  width:  .125em;  /*  2px */
}


/* 59(89):「Y」 */
.cf59 {
  background: no-repeat linear-gradient(currentcolor, currentcolor) .203125em .46875em/.09375em .5em;
}
.cf59::before {
  content: '';
  left:   .109375em;/* 1.75px */
  bottom: .3125em; /*  5px */
  width:  .09375em;/*  1.5px */
  height: .4375em; /*  7px */
  background: currentcolor;
  transform: rotate(-20deg);
}
.cf59::after {
  content: '';
  left:   .296875em;/* 4.75px */
  bottom: .3125em; /*  5px */
  width:  .09375em;/*  1.5px */
  height: .4375em; /*  7px */
  background: currentcolor;
  transform: rotate(20deg);
}
.cfb.cf59 {
  background: no-repeat linear-gradient(currentcolor, currentcolor) .1875em .46875em/.125em .5em;
}
.cfb.cf59::before {
  left:   .09375em;/*  1.5px */
  width:  .125em;  /*  2px */
}
.cfb.cf59::after {
  left:   .28125em;/*  4.5px */
  width:  .125em;  /*  2px */
}


/* 5a(90):「Z」 */
.cf5a::before {
  content: '';
  left:   .0625em; /*  1px */
/*bottom: 0;*/
  width:  .375em;  /*  6px */
  height: .75em;   /*  12px */
  border: solid currentcolor;
  border-width: .09375em 0;
}
.cf5a::after {
  content: '';
  left:   .203125em;/* 3.25px */
/*bottom: 0;*/
  width:  .09375em;/*  1.5px */
  height: .75em;   /*  12px */
  background: currentcolor;
  transform: rotate(25deg);
}
.cfb.cf5a::before {
  border-width: .125em 0;
}
.cfb.cf5a::after {
  left:   .1875em; /*  3px */
  width:  .125em;  /*  2px */
}


/* 5b(91):「[」 */
.cf5b::after {
  content: '';
  left:   .125em;  /*  2px */
  bottom:-.0625em; /*  1px */
  width:  .3125em; /*  5px */
  height: .875em;  /*  14px */
  border: .09375em solid currentcolor;
  border-right: none;
}
.cfb.cf5b::after {
  border-width: .125em;
}

/* 5c(92):「\」 */
.cf5c::after {
  content: '';
  left:   .203125em;/* 3.25px */
  bottom:-.09375em;/*  1.5px */
  width:  .09375em;/*  1.5px */
  height: .9375em; /*  15px */
  background: currentcolor;
  transform: rotate(-25deg);
}
.cfb.cf5c::after {
  left:   .1875em; /*  3px */
  width:  .125em;  /*  2px */
}


/* 5d(93):「]」 */
.cf5d::after {
  content: '';
  left:   .0625em; /*  1px */
  bottom:-.0625em; /*  1px */
  width:  .3125em; /*  5px */
  height: .875em;  /*  14px */
  border: .09375em solid currentcolor;
  border-left: none;
}
.cfb.cf5d::after {
  border-width: .125em;
}


/* 5e(94):「^」 */
.cf5e::before {
  content: '';
  left:   .140625em;/* 2.25px */
  bottom: .625em;  /*  10px */
  width:  .09375em;/*  1.5px */
  height: .1875em; /*  3px */
  background: currentcolor;
  transform: rotate(60deg);
}
.cf5e::after {
  content: '';
  left:   .265625em;/* 4.25px */
  bottom: .625em;  /*  10px */
  width:  .09375em;/*  1.5px */
  height: .1875em; /*  3px */
  background: currentcolor;
  transform: rotate(-60deg);
}
.cfb.cf5e::before {
  left:   .125em;  /*  2px */
  width:  .125em;  /*  2px */
}
.cfb.cf5e::after {
  left:   .25em;   /*  4px */
  width:  .125em;  /*  2px */
}


/* 5f(95):「_」 */
.cf5f::after {
  content: '';
  left:   0;
  bottom:-.125em;  /*  2px */
  width:  .5em;    /*  8px */
  height: .09375em;/*  1.5px */
  background: currentcolor;
}
.cfb.cf5f::after {
  height: .125em;  /*  2px */
}



/**************************************************************/
/* 60-6f(96-111):「`abcdefghijklmno」                         */
/**************************************************************/
/* 60(96):「`」 */
.cf60::before {
  content: '';
  left:   .1875em; /*  3px */
  bottom: .5625em; /*  9px */
  width:  .09375em;/*  1.5px */
  height: .25em;   /*  4px */
  background: currentcolor;
  transform: rotate(-45deg);
}
.cfb.cf60::before {
  width:  .125em;  /*  2px */
}

/* 61(97):「a」 */
.cf61::before {
  content: '';
  left:   .0625em; /*  1px */
/*bottom: 0;*/
  width:  .375em;  /*  6px */
  height: .5625em; /*  9px */
  border: .09375em solid currentcolor;
  border-left-color: transparent;
  border-bottom: none;
  border-radius: .25em .25em 0 0;
}
.cf61::after {
  content: '';
  left:   .0625em; /*  1px */
/*bottom: 0;*/
  width:  .375em;  /*  6px */
  height: .375em;  /*  6px */
  border: .09375em solid currentcolor;
  border-radius: 50%;
}
.cfb.cf61::before {
  border-width: .125em;
}
.cfb.cf61::after {
  border-width: .125em;
}


/* 62(98):「b」 */
.cf62::before {
  content: '';
  left:   .0625em; /*  1px */
/*bottom: 0;*/
  width:  .09375em;/*  1.5px */
  height: .8125em; /*  13px */
  background: currentcolor;
}
.cf62::after {
  content: '';
  left:   .0625em; /*  1px */
/*bottom: 0;*/
  width:  .375em;  /*  6px */
  height: .5625em; /*  9px */
  border: .09375em solid currentcolor;
  border-radius: 50%;
}
.cfb.cf62::before {
  width:  .125em;  /*  2px */
}
.cfb.cf62::after {
  border-width: .125em;
}


/* 63(99):「c」 */
.cf63::after {
  content: '';
  left:   .0625em; /*  1px */
/*bottom: 0;*/
  width:  .4375em; /*  7px */
  height: .5625em; /*  9px */
  border: .09375em solid currentcolor;
  border-right-color: transparent;
  border-radius: 50%;
}
.cfb.cf63::after {
  border-width: .125em;
}


/* 64(100):「d」 */
.cf64::before {
  content: '';
  left:   .34375em;/*  5.5px */
/*bottom: 0;*/
  width:  .09375em;/*  1.5px */
  height: .8125em; /*  13px */
  background: currentcolor;
}
.cf64::after {
  content: '';
  left:   .0625em; /*  1px */
/*bottom: 0;*/
  width:  .375em;  /*  6px */
  height: .5625em; /*  9px */
  border: .09375em solid currentcolor;
  border-radius: 50%;
}
.cfb.cf64::before {
  left:   .3125em; /*  5px */
  width:  .125em;  /*  2px */
}
.cfb.cf64::after {
  border-width: .125em;
}


/* 65(101):「e」 */
.cf65 {
  background: no-repeat linear-gradient(currentcolor, currentcolor) .0625em .5625em/.375em .09375em;
}
.cf65::before {
  content: '';
  left:   .0625em; /*  1px */
/*bottom: 0;*/
  width:  .4375em; /*  7px */
  height: .5em;    /*  8px */
  border: .09375em solid currentcolor;
  border-right-color: transparent;
  border-top: none;
  border-radius: 50%;
}
.cf65::after {
  content: '';
  left:   .0625em; /*  1px */
  bottom: .125em;  /*  2px */
  width:  .375em;  /*  6px */
  height: .375em;  /*  6px */
  border: .09375em solid;
  border-color: currentcolor transparent transparent currentcolor;
  border-radius: 50%;
  transform: rotate(45deg);
}
.cfb.cf65 {
  background: no-repeat linear-gradient(currentcolor, currentcolor) .0625em .5625em/.375em .125em;
}
.cfb.cf65::before {
  border-width: .125em;
}
.cfb.cf65::after {
  border-width: .125em;
}


/* 66(102):「f」 */
.cf66 {
  background: no-repeat linear-gradient(currentcolor, currentcolor) .203125em .3125em/.09375em .6875em,
              no-repeat linear-gradient(currentcolor, currentcolor) .0625em .3125em/.375em .09375em;
}
.cf66::before {
  content: '';
  left:   .203125em;/* 3.25px */
  bottom: .3125em; /*  5px */
  width:  .5em;    /*  8px */
  height: .5em;    /*  8px */
  border: .09375em solid transparent;
  border-top-color: currentcolor;
  border-radius: 50%;
  transform: rotate(-45deg);
}
.cfb.cf66 {
  background: no-repeat linear-gradient(currentcolor, currentcolor) .1875em .3125em/.125em .5625em,
              no-repeat linear-gradient(currentcolor, currentcolor) .0625em .3125em/.375em .125em;
}
.cfb.cf66::before {
  left:   .1875em; /*  3px */
  border-width: .125em;
}


/* 67(103):「g」 */
.cf67 {
  background: no-repeat linear-gradient(currentcolor, currentcolor) .34375em .3125em/.09375em .5em;
}
.cf67::before {
  content: '';
  left:   .0625em; /*  1px */
  bottom: .125em;  /*  2px */
  width:  .375em;  /*  6px */
  height: .4375em; /*  7px */
  border: .09375em solid currentcolor;
  border-radius: 50%;
}
.cf67::after {
  content: '';
  left:   0;
  bottom:-.125em;  /*  2px */
  width:  .4375em; /*  7px */
  height: .4375em; /*  7px */
  border: .09375em solid;
  border-color: transparent currentcolor currentcolor transparent;
  border-radius: 0 0 50% 50%;
}
.cfb.cf67 {
  background: no-repeat linear-gradient(currentcolor, currentcolor) .3125em .3125em/.125em .5em;
}
.cfb.cf67::before {
  border-width: .125em;
}
.cfb.cf67::after {
  border-width: .125em;
}


/* 68(104):「h」 */
.cf68::before {
  content: '';
  left:   .0625em; /*  1px */
/*bottom: 0;*/
  width:  .09375em;/*  1.5px */
  height: .8125em; /*  13px */
  background: currentcolor;
}
.cf68::after {
  content: '';
  left:   .0625em; /*  1px */
/*bottom: 0;*/
  width:  .375em;  /*  6px */
  height: .5625em; /*  9px */
  border: .09375em solid currentcolor;
  border-bottom: none;
  border-radius: .1875em .1875em 0 0;
}
.cfb.cf68::before {
  width:  .125em;  /*  2px */
}
.cfb.cf68::after {
  border-width: .125em;
}



/* 69(105):「i」 */
.cf69::before {
  content: '';
  left:   .203125em;/* 3.25px */
  bottom: .6875em; /*  11px */
  width:  .09375em;/*  1.5px */
  height: .125em;  /*  2px */
  background: currentcolor;
}
.cf69::after {
  content: '';
  left:   .203125em;/* 3.25px */
/*bottom: 0;*/
  width:  .09375em;/*  1.5px */
  height: .5625em; /*  9px */
  background: currentcolor;
}
.cfb.cf69::before {
  left:   .1875em; /*  3px */
  width:  .125em;  /*  2px */
}
.cfb.cf69::after {
  left:   .1875em; /*  3px */
  width:  .125em;  /*  2px */
}


/* 6a(106):「j」 */
.cf6a {
  background: no-repeat linear-gradient(currentcolor, currentcolor) .203125em .0625em/.09375em .125em,
              no-repeat linear-gradient(currentcolor, currentcolor) .203125em .3125em/.09375em .5em;
}
.cf6a::after {
  content: '';
  left:  -.203125em;/* 3.25px */
  bottom:-.125em;  /*  2px */
  width:  .5em;    /*  8px */
  height: .5em;    /*  8px */
  border: .09375em solid transparent;
  border-top-color: currentcolor;
  border-radius: 50%;
  transform: rotate(135deg);
}
.cfb.cf6a {
  background: no-repeat linear-gradient(currentcolor, currentcolor) .1875em .0625em/.125em .125em,
              no-repeat linear-gradient(currentcolor, currentcolor) .1875em .3125em/.125em .5em;
}
.cfb.cf6a::after {
  left:  -.1875em; /*  3px */
  border-width: .125em;
}


/* 6b(107):「k」 */
.cf6b {
  background: no-repeat linear-gradient(currentcolor, currentcolor) .0625em .0625em/.09375em .8125em;
}
.cf6b::before {
  content: '';
  left:   .203125em;/* 3.25px */
  bottom: .125em;  /*  2px */
  width:  .09375em;/*  1.5px */
  height: .46875em;/*  7.5px */
  background: currentcolor;
  transform: rotate(40deg);
}
.cf6b::after {
  content: '';
  left:   .25em;   /*  4px */
/*bottom: 0;*/
  width:  .09375em;/*  1.5px */
  height: .375em;  /*  6px */
  background: currentcolor;
  transform: rotate(-35deg);
}
.cfb.cf6b {
  background: no-repeat linear-gradient(currentcolor, currentcolor) .0625em .0625em/.125em .8125em;
}
.cfb.cf6b::before {
  width:  .125em;  /*  2px */
}
.cfb.cf6b::after {
  width:  .125em;  /*  2px */
}


/* 6c(108):「l」 */
.cf6c::after {
  content: '';
  left:   .203125em;/* 3.25px */
/*bottom: 0;*/
  width:  .25em;   /*  4px */
  height: .8125em; /*  13px */
  border: solid currentcolor;
  border-width: 0 0 .09375em .09375em;
  border-radius: 0 0 0 .125em;
}
.cfb.cf6c::after {
  left:   .1875em; /*  3px */
  border-width: 0 0 .125em .125em;
}


/* 6d(109):「m」 */
.cf6d {
  background: no-repeat linear-gradient(currentcolor, currentcolor) .03125em .3125em/.09375em .5625em;
}
.cf6d::before {
  content: '';
  left:   .03125em;/*  .5px */
/*bottom: 0;*/
  width:  .265625em;/* 4.25px */
  height: .5625em; /*  9px */
  border: .09375em solid currentcolor;
  border-bottom: none;
  border-radius: .1875em .1875em 0 0;
}
.cf6d::after {
  content: '';
  left:   .203125em;/* 3.25px */
/*bottom: 0;*/
  width:  .265625em;/* 4.25px */
  height: .5625em; /*  9px */
  border: .09375em solid currentcolor;
  border-bottom: none;
  border-radius: .1875em .1875em 0 0;
}
.cfb.cf6d {
  background: no-repeat linear-gradient(currentcolor, currentcolor) .03125em .3125em/.125em .5625em;
}
.cfb.cf6d::before {
  width:  .28125em;/*  4.5px */
  border-width: .125em;
}
.cfb.cf6d::after {
  left:   .1875em; /*  3px */
  width:  .28125em;/*  4.5px */
  border-width: .125em;
}


/* 6e(110):「n」 */
.cf6e::before {
  content: '';
  left:   .0625em; /*  1px */
/*bottom: 0;*/
  width:  .375em;  /*  6px */
  height: .5625em; /*  9px */
  border: .09375em solid currentcolor;
  border-bottom: none;
  border-radius: .1875em .1875em 0 0;
}
.cf6e::after {
  content: '';
  left:   .0625em; /*  1px */
/*bottom: 0;*/
  width:  .09375em;/*  1.5px */
  height: .5625em; /*  9px */
  background: currentcolor;
}
.cfb.cf6e::before {
  border-width: .125em;
}
.cfb.cf6e::after {
  width:  .125em;  /*  2px */
}



/* 6f(111):「o」 */
.cf6f::after {
  content: '';
  left:   .03125em;/*  .5px */
/*bottom: 0;*/
  width:  .4375em; /*  7px */
  height: .5625em; /*  9px */
  border: .09375em solid currentcolor;
  border-radius: 50%;
}
.cfb.cf6f::after {
  border-width: .125em;
}



/**************************************************************/
/* 70-7e(112-126):「pqrstuvwxyz{|}~」                         */
/**************************************************************/
/* 70(112):「p」 */
.cf70::before {
  content: '';
  left:   .0625em; /*  1px */
/*bottom: 0;*/
  width:  .375em;  /*  6px */
  height: .5625em; /*  9px */
  border: .09375em solid currentcolor;
  border-radius: 50%;
}
.cf70::after {
  content: '';
  left:   .0625em; /*  1px */
  bottom:-.125em;  /*  2px */
  width:  .09375em;/*  1.5px */
  height: .6875em; /*  11px */
  background: currentcolor;
}
.cfb.cf70::before {
  border-width: .125em;
}
.cfb.cf70::after {
  width:  .125em;  /*  2px */
}


/* 71(113):「q」 */
.cf71::before {
  content: '';
  left:   .0625em; /*  1px */
/*bottom: 0;*/
  width:  .375em;  /*  6px */
  height: .5625em; /*  9px */
  border: .09375em solid currentcolor;
  border-radius: 50%;
}
.cf71::after {
  content: '';
  left:   .34375em;/*  5.5px */
  bottom:-.125em;  /*  2px */
  width:  .09375em;/*  1.5px */
  height: .6875em; /*  11px */
  background: currentcolor;
}
.cfb.cf71::before {
  border-width: .125em;
}
.cfb.cf71::after {
  left:   .3125em; /*  5px */
  width:  .125em;  /*  2px */
}


/* 72(114):「r」 */
.cf72::before {
  content: '';
  left:   .09375em;/*  1.5px */
  bottom:-.0625em; /*  1px */
  width:  .625em;  /*  10px */
  height: .625em;  /*  10px */
  border: .09375em solid transparent;
  border-top-color: currentcolor; 
  border-radius: 50%;
  transform: rotate(-45deg);
}
.cf72::after {
  content: '';
  left:   .09375em;/*  1.5px */
/*bottom: 0;*/
  width:  .09375em;/*  1.5px */
  height: .5625em; /*  9px */
  background: currentcolor;
}
.cfb.cf72::before {
  border-width: .125em;
}
.cfb.cf72::after {
  left:   .09375em;/*  1.5px */
  width:  .125em;  /*  2px */
}


/* 73(115):「s」 */
.cf73::before {
  content: '';
  left:   .0625em; /*  1px */
  bottom: .234375em;/* 3.75px */
  width:  .375em;  /*  6px */
  height: .375em;  /*  6px */
  border: .09375em solid currentcolor;
  border-right-color: transparent;
  border-radius: 50%;
  transform: rotate(45deg);
}
.cf73::after {
  content: '';
  left:   .0625em; /*  1px */
  bottom:-.046875em;/* .75px */
  width:  .375em;  /*  6px */
  height: .375em;  /*  6px */
  border: .09375em solid currentcolor;
  border-left-color: transparent;
  border-radius: 50%;
  transform: rotate(45deg);
}
.cfb.cf73::before {
  bottom: .21875em;/*  3.5px */
  border-width: .125em;
}
.cfb.cf73::after {
  bottom:-.03125em;/*  .5px */
  border-width: .125em;
}


/* 74(116):「t」 */
.cf74::before {
  content: '';
  left:   .1875em; /*  3px */
/*bottom: 0;*/
  width:  .25em;   /*  4px */
  height: .6875em; /*  11px */
  border: solid currentcolor;
  border-width: 0 0 .09375em .09375em;
  border-radius: 0 0 0 .125em;
}
.cf74::after {
  content: '';
  left:   .0625em; /*  1px */
  bottom: .453125em;/* 7.25px */
  width:  .375em;  /*  6px */
  height: .09375em;/*  1.5px */
  background: currentcolor;
}
.cfb.cf74::before {
  border-width: 0 0 .125em .125em;
}
.cfb.cf74::after {
  bottom: .4375em; /*  7px */
  height: .125em;  /*  2px */
}


/* 75(117):「u」 */
.cf75::before {
  content: '';
  left:   .0625em; /*  1px */
/*bottom: 0;*/
  width:  .375em;  /*  6px */
  height: .5625em; /*  9px */
  border: .09375em solid currentcolor;
  border-top: none;
  border-radius: 0 0 .1875em .1875em;
}
.cf75::after {
  content: '';
  left:   .34375em;/*  5.5px */
/*bottom: 0;*/
  width:  .09375em;/*  1.5px */
  height: .5625em; /*  9px */
  background: currentcolor;
}
.cfb.cf75::before {
  border-width: .125em;
}
.cfb.cf75::after {
  left:   .3125em; /*  5px */
  width:  .125em;  /*  2px */
}


/* 76(118):「v」 */
.cf76::before {
  content: '';
  left:   .140625em;/* 2.25px */
/*bottom: 0;*/
  width:  .09375em;/*  1.5px */
  height: .5625em; /*  9px */
  background: currentcolor;
  transform: rotate(-15deg);
}
.cf76::after {
  content: '';
  left:   .265625em;/* 4.25px */
/*bottom: 0;*/
  width:  .09375em;/*  1.5px */
  height: .5625em; /*  9px */
  background: currentcolor;
  transform: rotate(15deg);
}
.cfb.cf76::before {
  left:   .125em;  /*  2px */
  width:  .125em;  /*  2px */
}
.cfb.cf76::after {
  left:   .25em;   /*  4px */
  width:  .125em;  /*  2px */
}


/* 77(119):「w」 */
.cf77 {
  background: no-repeat linear-gradient(currentcolor, currentcolor) .03125em .3125em/.09375em .5625em;
}
.cf77::before {
  content: '';
  left:   .03125em;/*  .5px */
/*bottom: 0;*/
  width:  .265625em;/* 4.25px */
  height: .5625em; /*  9px */
  border: .09375em solid currentcolor;
  border-top: none;
  border-radius: 0 0 .125em .125em;
}
.cf77::after {
  content: '';
  left:   .203125em;/* 3.25px */
/*bottom: 0;*/
  width:  .265625em;/* 4.25px */
  height: .5625em; /*  9px */
  border: .09375em solid currentcolor;
  border-top: none;
  border-radius: 0 0 .125em .125em;
}
.cfb.cf77 {
  background: no-repeat linear-gradient(currentcolor, currentcolor) .03125em .3125em/.125em .5625em;
}
.cfb.cf77::before {
  width:  .28125em;/*  4.5px */
  border-width: .125em;
}
.cfb.cf77::after {
  left:   .1875em; /*  3px */
  width:  .28125em;/*  4.5px */
  border-width: .125em;
}


/* 78(120):「x」 */
.cf78::before {
  content: '';
  left:   .203125em;/* 3.25px */
  bottom:-.03125em;/*  .5px */
  width:  .09375em;/*  1.5px */
  height: .625em;  /*  10px */
  background: currentcolor;
  transform: rotate(-30deg);
}
.cf78::after {
  content: '';
  left:   .203125em;/* 3.25px */
  bottom:-.03125em;/*  .5px */
  width:  .09375em;/*  1.5px */
  height: .625em;  /*  10px */
  background: currentcolor;
  transform: rotate(30deg);
}
.cfb.cf78::before {
  left:   .1875em; /*  3px */
  width:  .125em;  /*  2px */
}
.cfb.cf78::after {
  left:   .1875em; /*  3px */
  width:  .125em;  /*  2px */
}


/* 79(121):「y」 */
.cf79::before {
  content: '';
  left:   .125em;  /*  2px */
  bottom: .171875em;/* 2.75px */
  width:  .09375em;/*  1.5px */
  height: .375em;  /*  6px */
  background: currentcolor;
  transform: rotate(-25deg);
}
.cf79::after {
  content: '';
  left:   .21875em;/*  3.5px */
  bottom:-.125em;  /*  2px */
  width:  .09375em;/*  1.5px */
  height: .6875em; /*  11px */
  background: currentcolor;
  transform: rotate(25deg);
}
.cfb.cf79::before {
  left:   .109375em;/* 1.75px */
  width:  .125em;  /*  2px */
}
.cfb.cf79::after {
  left:   .203125em;/* 3.25px */
  width:  .125em;  /*  2px */
}


/* 7a(122):「z」 */
.cf7a::before {
  content: '';
  left:   .0625em; /*  1px */
/*bottom: 0;*/
  width:  .375em;  /*  6px */
  height: .5625em; /*  9px */
  border: solid currentcolor;
  border-width: .09375em 0;
}
.cf7a::after {
  content: '';
  left:   .1875em; /*  3px */
/*bottom: 0;*/
  width:  .09375em;/*  1.5px */
  height: .53125em;/*  8.5px */
  background: currentcolor;
  transform: rotate(35deg);
}
.cfb.cf7a::before {
  border-width: .125em 0;
}
.cfb.cf7a::after {
  left:   .1875em; /*  3px */
  width:  .125em;  /*  2px */
  height: .5em;    /*  8px */
}


/* 7b(123):「{」 */
/* 7c(124):「|」 */
.cf7c::before {
  content: '';
  left:   .203125em;/* 3.25px */
  bottom:-.125em;  /*  2px */
  width:  .09375em;/*  1.5px */
  height: 1em;     /*  16px */
  background: currentcolor;
}
.cfb.cf7c::before {
  left:   .1875em; /*  3px */
  width:  .125em;  /*  2px */
}


/* 7d(125):「}」 */
/* 7e(126):「~」 */
